/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}


body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    
    background-attachment: fixed;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    width: 100%;
    
    background: linear-gradient(to bottom right, #8fc33c, #ddedc4);
    
}

#title{
    margin: 0 auto;
    width: 300px;
    margin-left: 25%;
}

#header{
    height: 75px;
    margin: 0 auto;
    text-align: left;
    font-size: 25px;
    position: absolute;
    z-index: 500;
    color: black;
    top: 0;
    width: 100%;
    position: fixed;
    
    padding-bottom: 25px;
    background-color: rgba(221, 237, 196, .5);
}

#header p:nth-child(2){
    color: white !important;
    margin-top: -37px;
    z-index: 500;
}

#blur{
    position: absolute;
    top: 115px;
    height: 400px;
    background-color: black;
    opacity: .5;
    z-index: 200;
}

#content{
    margin-top: 103px; !important;
    height: 100%;
    padding-bottom: 200px;
    font-size: 21px;
    color: white;
}

#contentheading{
    margin: 0 auto !important;
    text-align: center !important;
    width: 100% !important;
}

#attributions{
    margin: 0 auto;
    text-align: center;
    margin-top: 25px;
    font-size: 12px !important;
}

#desc{
    width: 80%;
    margin: 0 auto;
}

#subtext{
    font-size: 14px;
    text-transform: none !important;
}

#mindfulnesscontent{
    margin-top: 103px; !important;
    height: 100%;
    padding-bottom: 400px;
    font-size: 21px;
    color: white;
}

#content img{
    width: 125px;
    height: auto;
    margin-right: 25px;
    margin-left: 25px;
    opacity: .85 !important;
}

#title1{
    position: absolute;
    right: 13%;
    top: 25%
        
}

#title2{
    position: absolute;
    left: 12%;
    top: 52%;
}

#title3{
    position: absolute;
    right: 10%;
    top: 80%;
}

#back{
    position: absolute;
    top: 29px;
    left: 20px;
    height: 45px;
    width: auto;
}

#icon{
    padding-top: 7px;
    display: inline-block;
    padding-right: 5px;
}

#icontitle{
    margin-top: -3px !important;
    font-size: 25px;
    letter-spacing: 3px;
    display: inline-block;
    padding-left: 5px;
}

#icon img{
    width: 55px;
    height: auto;
}

#nutrition{
    height: 200px;
    background-image: url(../img/salad2.jpg);
    background-size: cover;
}

#exercise{
    height: 200px;
    margin-top: -15px;
    background-image: url(../img/exercise.jpg);
    background-size: cover;
}

#exercise img{
    margin-top: 30px;
    margin-left: 155px !important;
}

#nutrition img{
    margin-top: 30px;
    margin-right: 155px !important;
}

#mindfulness img{
    margin-top: 30px;
    margin-right: 155px !important;
}

#mindfulness{
    height: 185px;
    margin-top: -15px;
    background-image: url(../img/mindfulness.jpg);
    background-size: cover; 
}

#top{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.title1 h1{
    text-align: center;
    padding-top: 80%;
    margin-left: -50px;
}

.title2 h1{
    text-align: center;
    margin-top: 5px;
    color: white;
    margin-left: 20px;
}

/* Portrait layout (default) */
.app {
    height: 100%;
    width: 100%;
    position:absolute;             /* position in the center of the screen */
    background-color: #a5d167;
    text-align:center;
    
                        
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
